<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>
    <dccs>
        <dcc mainModule="DataBase.BusinessObject"/>
        <dcc mainModule="JavaDB.SQLStatements"/>
        <dcc mainModule="JavaDB.DataBase"/>
        <dcc mainModule="SearchEngine.SearchEngine"/>
        <dcc mainModule="Classes.SessionManager"/>
    </dccs>
</config>
